################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/glm
/x64/Debug
/frag.spv
/glfw3.h
*.lib
*.help
/Makefile
/Sample.sln
/sample.save.cpp
/sample-vert.spv
/sample-vert.save.vert
/sample-vert-dis.txt
/sample-frag.spv
/sample-frag.save.frag
/sample-frag-dis.txt
/sample-comp.spv
/sample-comp.comp
/puppy1.jpg
/puppy1.bmp
/puppy0.jpg
/puppy0.bmp
/puppy.jpg
/puppy.bmp
/vulkan_xlib_xrandr.h
/vulkan_xlib.h
/vulkan_xcb.h
/vulkan_win32.h
/vulkan_wayland.h
/vulkan_vi.h
/vulkan_to_string.hpp
/vulkan_structs.hpp
/vulkan_screen.h
/vulkan_raii.hpp
/vulkan_profiles.hpp
/vulkan_profiles.h
/vulkan_metal.h
/vulkan_macos.h
/vulkan_ios.h
/vulkan_hash.hpp
/vulkan_handles.hpp
/vulkan_ggp.h
/vulkan_funcs.hpp
/vulkan_fuchsia.h
/vulkan_format_traits.hpp
/vulkan_enums.hpp
/vulkan_directfb.h
/vulkan_core.h
/vulkan_beta.h
/vulkan_android.h
/VulkanDebug.txt
/vulkan.hpp
/vulkan.h
/vk_sdk_platform.h
/vk_platform.h
/vk_mem_alloc.h
/vk_layer_dispatch_table.h
/vk_layer.h
/vk_icd.h
/vk_enum_string_helper.h
/vert.spv
/Sample.vcxproj.user
/Sample.vcxproj.filters
/Sample.vcxproj
/glslangValidator.exe
